body.dark-mode {
  background-color: #0e202d;
  color: #fff;
}

body.dark-mode p {
  color: #fff;
}

.dark-mode header {
  background-image: url("./assets/background_curve_dark.png"),
    url("./assets/daisy_chain.png"), url("./assets/hero_background.png");
}

.dark-mode h5 {
  color: #f3d0b7;
}

.dark-mode .engagement-right-list {
  color: #bcccd8;
}

.dark-mode .engagament-sections ul {
  color: #fff;
}

.dark-mode .card {
  color: #fff;
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62) -0.04%,
        rgba(30, 111, 170, 0) 60.91%
      )
      padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;
}

.dark-mode .industry-container {
  background: url("./assets/background_curve_dark.png"),
    linear-gradient(
      360deg,
      rgba(75, 179, 255, 0.62) -0.04%,
      rgba(30, 111, 170, 0) 60.91%
    );
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: bottom;
  padding-top: 100px;
  padding-bottom: 127px;
  position: relative;
}

.dark-mode .industry-card {
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(#0e202d, #0e202d) padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;
}

.dark-mode .industry-card p {
  color: #fff;
}

.dark-mode .sign-up-container {
  background-color: #0e202d;
}

.dark-mode .explore-container {
  background-color: #0e202d;
}

.dark-mode .explore-container-default-styles {
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(#0e202d, #0e202d) padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;

  max-width: fit-content;
  margin-inline: auto;
}

.dark-mode .explore-card {
  width: 286px;
  height: 294px;
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(
        360deg,
        rgba(30, 111, 170, 0) 60.91%,
        rgba(75, 179, 255, 0.62) -0.04%
      )
      padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62) -0.04%,
        rgba(30, 111, 170, 0) 99.87%
      )
      border-box;
}

.dark-mode address {
  color: #fff;
}

.dark-mode .contact a[href^="tel"] {
  color: #fff;
}