body.dark-mode {
  background-color: #0e202d;
  color: #fff;
}

body.dark-mode p {
  color: #fff;
}

.dark-mode header {
  color: #fff;
}

.dark-mode h5 {
  color: #f3d0b7;
}

.dark-mode .engagement-right-list {
  color: #bcccd8;
}

.dark-mode .engagement-sections ul {
  color: #fff;
}

.dark-mode .card {
  color: #fff;
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62) -0.04%,
        rgba(30, 111, 170, 0) 60.91%
      )
      padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;
}

.dark-mode .industry-section {
  background-color: #0e202d;
}

.dark-mode .industry-section-bg {
  background: linear-gradient(
    360deg,
    rgba(75, 179, 255, 0.62) -0.04%,
    rgba(30, 111, 170, 0) 60.91%
  );
}

.dark-mode .industry-card {
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(#0e202d, #0e202d) padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;
}

.dark-mode .industry-card p {
  color: #fff;
}

.dark-mode .sign-up-container {
  background-color: #0e202d;
}

.dark-mode .explore-container {
  background-color: #0e202d;
}

.dark-mode .explore-container-default-styles {
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(#0e202d, #0e202d) padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62),
        rgba(30, 111, 170, 0) 60.91%
      )
      border-box;
}

.dark-mode .explore-card {
  border: solid 1px transparent;
  border-radius: 20px;
  background: linear-gradient(
        360deg,
        rgba(30, 111, 170, 0) 60.91%,
        rgba(75, 179, 255, 0.62) -0.04%
      )
      padding-box,
    linear-gradient(
        360deg,
        rgba(75, 179, 255, 0.62) -0.04%,
        rgba(30, 111, 170, 0) 99.87%
      )
      border-box;
}

.dark-mode address {
  color: #fff;
}

.dark-mode .contact a[href^="tel"] {
  color: #fff;
}

.dark-mode .footer {
  background-color: #0e202d;
}

@media screen and (max-width: 1080px) {

  .dark-mode .nav-links {
    background-color: #0e202d;
  }

  .dark-mode .nav-links a {
    color: #fff;
  }
}
